<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>仓库管理</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Warehouse/index')}>">仓库管理</A>　&gt;　<A href="#"><{$atitle}></A></div>
<div class="nav_r"></div>
</div>
<div class="height20"></div>
<div class="content">
<form action="<{:U('Mp/Warehouse/edit_save')}>"   method="post" name="fmmm" >
<input type="hidden" value="<{$whinfo.wh_id}>" name="wh_id" />
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
             <tr>     
                  <td height="40"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>

			  <tr>     
                  <td height="40"   class="txtright" >仓库编号：</td>
				  <td class="txtleft" ><input    type="text" size="25" maxlength="25"  name="wh_munber"  class="input"  value="<{$whinfo.wh_munber}>"   >  * </td>
			  </tr>
			   <tr>     
                  <td height="40"   class="txtright" >仓库名称：</td>
				  <td class="txtleft" ><input    type="text" size="25" maxlength="60"  name="wh_name"  class="input"  value="<{$whinfo.wh_name}>"   >  * </td>
			  </tr>
			   <tr>     
                  <td height="40"   class="txtright" >场所地址：</td>
				  <td class="txtleft" ><input    type="text" size="25" maxlength="60"  name="wh_address"  class="input"  value="<{$whinfo.wh_address}>"   >   </td>
			  </tr>
			   <tr>     
                  <td height="40"   class="txtright" >负责人：</td>
				  <td class="txtleft" ><input    type="text" size="25" maxlength="30"  name="wh_director"  class="input"  value="<{$whinfo.wh_director}>"   >   </td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >备注：</td>
				  <td  class="txtleft" style="padding:10px 0 5px 0" >
				  <textarea name="wh_remark" rows="3" cols="50"><{$whinfo.wh_remark}></textarea>
		      </td>
			  </tr>

			  <tr>  <td height="60" ></td>
                    <td  class="txtleft"  >
             <input type="submit" name="Submit" value="<{$atitle}>" class="botton" >　　　　<input name="" type="reset" value="返 回"  onClick="javascript:window.history.go(-1);" class="botton" >
            </td>
			  </tr>
			</table>
</form>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>