<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>返利明细</title>
<include file="Com/head" />

<style>

</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" data-href="<{:U('./Kangli/Fanli/index')}>"  ></i><h1>返利明细</h1>
</header>
<section class="ui-container" >
<div class="ui-tab" id="tab1">
    <ul class="ui-tab-nav ui-border-b">
        <li <if condition="$state eq '0' ">class="current"</if>  data-href="<{:U('./Kangli/Fanli/fanlilist?state=0')}>" >待收款</li>
        <li <if condition="$state eq '1' ">class="current"</if>  data-href="<{:U('./Kangli/Fanli/fanlilist?state=1')}>" >已收款</li>
        <li <if condition="$state eq '2' ">class="current"</if>  data-href="<{:U('./Kangli/Fanli/fanlilist?state=2')}>" >待付款</li>
		<li <if condition="$state eq '3' ">class="current"</if>  data-href="<{:U('./Kangli/Fanli/fanlilist?state=3')}>"  >已付款</li>
		<li <if condition="$state eq '9' ">class="current"</if>  data-href="<{:U('./Kangli/Fanli/fanlilist?state=9')}>"  >已取消</li>
    </ul>
</div>
<ul class="ui-list ui-list-text ui-list-link ui-border-tb">

<foreach name='list' item='item'  key='key'>
    <li class="ui-border-t" data-href="<{:U('./Kangli/Fanli/fanlidetail?state='.$state.'&fl_id='.$item['fl_id'].'')}>" >
        <div class="ui-list-info">
            <h1 class="ui-nowrap" ><{$item.fl_moneystr}> <span style="font-size:0.7em; font-style:normal; color:#666666">元　　<{$item.fl_addtime|date='Y-m-d H:i:s',###}></span></h1>
			<p class="ui-nowrap"><{$item.fl_remark}></p>
        </div>
    </li>
</foreach>

</ul>

<if condition="$page neq ''" >
<div style="margin:0 auto;" >
<table class="page" cellpadding="0" cellspacing="0" align="center"><tbody>
<tr>
<td><{$page}></td>
</tr></tbody></table>
</div>
</if>

</section>
<script>
$('.ui-list li').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});

$('.ui-icon-return').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});

$('.ui-tab-nav li').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});
</script>
</body>
</html>