<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>充值详细</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Capital/payinlist')}>">充值记录</A>　&gt;　<A href="#">充值详细</A></div>
<div class="nav_r"> <if condition="$back eq '1' " ><a href="<{:U('Mp/Capital/payinlist')}>" class="abotton" >&lt;&lt; 返 回</a><else /><a href="javascript:window.history.go(-1);" class="abotton" >&lt;&lt; 返 回</a></if></div>
</div>
<div class="height20"></div>
<div class="content">
<table width="100%" border="0" cellspacing="0" cellpadding="0"  >
             <tr>     
                  <td height="40"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" >充值代理：</td>
				  <td  class="txtleft" ><{$payininfo.dl_name_str}></td>
			  </tr>

			   <tr>     
                  <td height="40"  class="txtright" >充值金额：</td>
				  <td  class="txtleft" ><{$payininfo.pi_moneystr}> 元</td>
			  </tr>
              <tr>     
                  <td height="40"  class="txtright" >充值时间：</td>
				  <td  class="txtleft" ><{$payininfo.pi_addtime|date='Y-m-d H:i:s',###}></td>
			  </tr>
              <tr>     
                  <td height="40"  class="txtright" >充值备注：</td>
				  <td  class="txtleft" ><{$payininfo.pi_remark}></td>
			  </tr>
			  
			   <tr>     
                  <td height="40"  class="txtright" >凭证：</td>
				  <td  class="txtleft" >
				  <neq name="payininfo.pi_pic_str" value=""><a href="__PUBLIC__/uploads/dealer/<{$payininfo.pi_pic}>" target="_blank" ><{$payininfo.pi_pic_str}></a></neq> 
				  </td>
			  </tr>
			  
			   <tr>     
                  <td height="40"  class="txtright" >处理状态：</td>
				  <td  class="txtleft" ><{$payininfo.pi_statestr}></td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" >处理时间：</td>
				  <td  class="txtleft" ><if condition="($payininfo.pi_dealtime neq '') AND ($payininfo.pi_dealtime neq '0') "><{$payininfo.pi_dealtime|date='Y-m-d H:i:s',###}></if></td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright"  >处理备注：</td>
			     <td  class="txtleft" ><{$payininfo.pi_dealremark|nl2br}><br></td>
			  </tr>
			  
			  

			  
			  <tr>  <td height="60" ></td>
                    <td  class="txtleft"  >
			 <if condition="$back eq '1' " ><a href="<{:U('Mp/Capital/payinlist')}>" class="abotton" >&lt;&lt; 返 回</a><else /><a href="javascript:window.history.go(-1);" class="abotton" >&lt;&lt; 返 回</a></if>
            </td>

			  
			</table>

</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>