<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>留言详细</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Jfmobi/feedback')}>">留言反馈</A>　&gt;　<A href="#">留言详细</A></div>
<div class="nav_r"></div>
</div>
<div class="height20"></div>
<div class="content">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
             <tr>     
                  <td height="40"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>
			  <tr>     
                  <td height="40"   class="txtright" >联系人：</td>
				  <td class="txtleft" ><{$feedbackdetail.fb_contact}>  <{$feedbackdetail.fb_username_str}></td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" >联系电话：</td>
				  <td  class="txtleft" >
				  <{$feedbackdetail.fb_tel}>
				  </td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" >QQ：</td>
				  <td  class="txtleft" >
				  <{$feedbackdetail.fb_qq}>
				  </td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" >Email：</td>
				  <td  class="txtleft" >
				  <{$feedbackdetail.fb_email}>
				  </td>
			  </tr>
			  <tr>     
                  <td height="40"   class="txtright" >留言内容：</td>
				  <td class="txtleft" ><{$feedbackdetail.fb_content}></td>
			  </tr>
			  <if condition="$feedbackdetail.fb_recontent neq ''" >
			   <tr>     
                  <td height="40"   class="txtright" >回复：</td>
				  <td class="txtleft" ><{$feedbackdetail.fb_recontent}></td>
			  </tr>
			  </if>
			   <tr>     
                  <td height="40"  class="txtright" >留言时间：</td>
				  <td  class="txtleft" >
				  <{$feedbackdetail.fb_addtime|date='Y-m-d H:i:s',###}>
				  </td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >IP：</td>
				  <td  class="txtleft" >
				  <{$feedbackdetail.fb_ip}>
				  </td>
			  </tr>
			  

			  <tr>  <td height="60" ></td>
                    <td  class="txtleft"  >
            <input name="" type="reset" value="返 回"  onClick="javascript:window.history.go(-1);" class="botton" >
            </td>
			  </tr>
			</table>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>