<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$ntitle}></title>
<include file="Com/head" />
<include file="Com/mobieditor" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Jfmobi/newslist?news_type='.$news_type.'')}>"><{$ntitle}></A>　&gt;　<A href="#"><{$atitle}></A></div>
<div class="nav_r"></div>
</div>
<div class="height20"></div>
<div class="content">
<form action="<{:U('Mp/Jfmobi/news_save')}>"   method="post" name="fmmm"  enctype="multipart/form-data" >
<input type="hidden" value="<{$jfmonewsinfo.news_id}>" name="news_id" />
<if condition="$newstypeselect eq '0' ">
<input type="hidden" value="<{$jfmonewsinfo.news_type}>" name="news_type" />
 </if>
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
             <tr>     
                  <td height="40"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>
			  <tr>     
                  <td height="40"   class="txtright" >标题：</td>
				  <td class="txtleft" ><input    type="text" size="50" maxlength="50"  name="news_title"  class="input"  value="<{$jfmonewsinfo.news_title}>"   >  </td>
			  </tr>
			  <if condition="$newstypeselect eq '1' ">
			  <tr>     
                  <td height="40"   class="txtright" >分类：</td>
				  <td class="txtleft" >
				  <select name="news_type"   class="select" >
					<option value="2"   >图片　</option>
					<option value="3"   >视频　</option>
				  </select>
				  
				   </td>
			  </tr>
			  </if>
			  
			   <tr>     
                  <td height="40"  class="txtright" >图片：</td>
				  <td  class="txtleft"  style="padding:5px 0 5px 0">
				  <neq name="jfmonewsinfo.news_pic_str" value=""><{$jfmonewsinfo.news_pic_str}></neq> <input name="pic_file" type="file" /> (建议图片尺寸为320px X 320px,文件小于300k)
				  </td>
			  </tr>
			   <tr>     
                  <td height="40"   class="txtright" >内容：</td>
				  <td class="txtleft" ><textarea name="econtent" id="econtent" style="width:640px;height:500px;visibility:hidden;"><{$jfmonewsinfo.news_content|htmlspecialchars}></textarea></td>
			  </tr>

			  <tr>  <td height="60" ></td>
                    <td  class="txtleft"  >
             <input type="submit" name="Submit" value="<{$atitle}>" class="botton" >　　　　<input name="" type="reset" value="返 回"  onClick="javascript:window.history.go(-1);" class="botton" >
            </td>
			  </tr>
			</table>
</form>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>