<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片管理</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Jfmobi/piclist')}>">图片管理</A>　&gt;　<A href="#"><{$atitle}></A></div>
<div class="nav_r"></div>
</div>
<div class="height20"></div>
<div class="content">
<form action="<{:U('Mp/Jfmobi/pic_save')}>"   method="post" name="fmmm"  enctype="multipart/form-data" >
<input type="hidden" value="<{$jfmopicsinfo.pics_id}>" name="pics_id" />
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
             <tr>     
                  <td height="40"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>
			  <tr>     
                  <td height="40"   class="txtright" >图片说明：</td>
				  <td class="txtleft" ><input    type="text" size="25" maxlength="50"  name="pics_title"  class="input"  value="<{$jfmopicsinfo.pics_title}>"   >  </td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >选择图片：</td>
				  <td  class="txtleft" >
				  <neq name="jfmopicsinfo.pics_name_str" value=""><{$jfmopicsinfo.pics_name_str}></neq> <input name="pic_file" type="file" /> (建议图片宽度小于640px,文件小于300k)
				  </td>
			  </tr>

			  <tr>  <td height="60" ></td>
                    <td  class="txtleft"  >
             <input type="submit" name="Submit" value="<{$atitle}>" class="botton" >　　　　<input name="" type="reset" value="返 回"  onClick="javascript:window.history.go(-1);" class="botton" >
            </td>
			  </tr>
			</table>
</form>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>