<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片管理</title>
<include file="Com/head" />
<script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $(".copylinks").click(function(){
                var url=$(this).attr("rel");
				copy_code(url);
			 });
		 });


function copy_code(copyText){
	if (window.clipboardData)
	{
	window.clipboardData.setData("Text", copyText)
	alert('复制成功');
	}
	else
	{
	 prompt("请按Ctrl+C复制图片地址:",copyText); 
	}
} 		 
</script>
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Jfmobi/piclist')}>">图片管理</A></div>
<div class="nav_r"><a href="<{:U('Mp/Jfmobi/picadd')}>">添加图片</a></div>
</div>

<div class="height10"></div>
<div class="content">
<table class="table_results" >
<thead><tr>
<th  width="5%" ><span>ID</span></th>
<th  width="15%" ><span>图</span></th>
<th  width="20%" ><span>图片说明</span></th>
<th  width="20%" ><span>文件名</span></th>
<th  width="20%" ><span>修改时间</span></th>
<th  width="20%" ><span>操作</span></th>
</tr></thead>
<tbody>
<foreach name='list' item='item'  key='key'>
<tr class="<{$key%2 == 0?'odd':'even'}>" >
<td class="data"><span><{$item.pics_id}></span></td>
<td class="data"><span><{$item.pics_name_str}></span></td>
<td class="data"><span><{$item.pics_title}></span></td>
<td class="data"><span><{$item.pics_name2}></span></td>
<td class="data"><span><{$item.pics_addtime|date='Y-m-d H:i:s',###}></span></td>
<td class="data"><span><a  href="javascript:" rel="http://<{$web_host}>__PUBLIC__/uploads/mobi/<{$item.pics_name}>" class="copylinks" >复制图片链接</a> <a href="<{:U('Mp/Jfmobi/picedit?pics_id='.$item['pics_id'].'')}>" >修改</a> <a  href="#" onClick="javascript:var truthBeTold = window.confirm('该操作将彻底删除,谨慎操作!'); if (truthBeTold) window.location.href='<{:U('Mp/Jfmobi/delete?pics_id='.$item['pics_id'].'')}>';" >删除</a></span></td>
</tr>
</foreach>
</tbody>
</table>
<div class="height10"></div>
<table class="page" cellpadding="0" cellspacing="0"><tbody>
<tr>
<td><{$page}></td>
</tr></tbody></table>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>