<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PDA出货授</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Shipment/appsubuserlist')}>">PDA出货授</A>　&gt;　<A href="#"><{$mtitle}></A></div>
<div class="nav_r"></div>
</div>
<div class="height20"></div>
<div class="content">
<form action="<{:U('Mp/Shipment/appsubuseradd_save')}>"   method="post" name="fmmm" >
<input type="hidden" name="su_id" value="<{$subuserinfo.su_id}>" />
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
             <tr>     
                  <td height="40"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >用户名：</td>
				  <td  class="txtleft" >
				  <if condition="$subuserinfo.su_id eq '0' ">
				  <input    type="text" size="25" maxlength="32"  name="su_username"  class="input"  value=""   >  * 
				  <else/>
				  <{$subuserinfo.su_username}>
				  </if>
		      </td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" >密　码：</td>
				  <td  class="txtleft" >
				  <input   size="25" maxlength="32"  name="su_pwd"  class="input"  value=""  type="password"  >  * 
		      </td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" >名　称：</td>
				  <td  class="txtleft" >
				  <input    type="text" size="25" maxlength="32"  name="su_name"  class="input"  value="<{$subuserinfo.su_name}>"   >  * 
		      </td>
			  </tr>
			   
			   
			   

			  <tr>  <td height="60" ></td>
                    <td  class="txtleft"  >
             <input type="submit" name="Submit" value="<{$mtitle}>" class="botton"   id="submit" >　　　　　<input name="" type="reset" value="返 回"  onClick="javascript:window.history.go(-1);" class="botton" >
            </td>
			  </tr>
			</table>
</form>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>