<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>礼品管理</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="#">礼品管理</A></div>
<div class="nav_r"><a href="<{:U('Mp/Dgjfgift/add')}>">添加礼品</a></div>
</div>

<div class="height10"></div>
<div class="content">
<table class="table_results" >
<thead><tr>
<th  width="5%" ><span>ID</span></th>
<th  width="8%" ><span>图</span></th>
<th  width="28%"   style="text-align:left"><span>礼品名称</span></th>
<th  width="9%" ><span>所需积分</span></th>
<th  width="9%" ><span>未兑数量</span></th>
<th  width="9%" ><span>已兑数量</span></th>
<th  width="15%"  ><span>添加时间</span></th>
<th  width="5%"  ><span>状态</span></th>
<th  width="12%" ><span>操作</span></th>
</tr></thead>
<tbody>
<foreach name='list' item='item'  key='key'>
<tr class="<{$key%2 == 0?'odd':'even'}>" >
<td class="data"><span><{$item.gif_id}></span></td>
<td class="data"><span><{$item.gif_pic_str}></span></td>
<td class="data" style="text-align:left" ><span><{$item.gif_name}></span></td>
<td class="data"><span><{$item.gif_jf}></span></td>
<td class="data"><span><{$item.gif_qty}></span></td>
<td class="data"><span><{$item.gif_qty2}></span></td>
<td class="data"><span><{$item.gif_addtime|date='Y-m-d H:m:s',###}></span></td>
<td class="data"><span><a href="<{:U('Mp/Dgjfgift/active?gif_id='.$item['gif_id'].'&gif_active='.$item['gif_active'].'')}>" ><img src="__PUBLIC__/mp/static/<{$item['gif_active'] == 0?'no':'yes'}>.gif" /></a></span></td>
<td class="data"><span><a href="<{:U('Mp/Dgjfgift/edit?gif_id='.$item['gif_id'].'')}>">修改</a>　<a  href="#" onClick="javascript:var truthBeTold = window.confirm('该操作将彻底删除,谨慎操作!'); if (truthBeTold) window.location.href='<{:U('Mp/Dgjfgift/delete?gif_id='.$item['gif_id'].'')}>';" >删除</a></span></td>
</tr>
</foreach>
</tbody>
</table>
<div class="height10"></div>
<table class="page" cellpadding="0" cellspacing="0"><tbody>
<tr>
<td><{$page}></td>
</tr></tbody></table>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>