<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>经销商详情</title>
<style>
<!--
html,body
{
width:100%;
height:100%;
margin:0;
padding:0;
font-size:12px;
}
.txtright{ text-align:right; font-weight:bold}
.txtleft{ text-align:left}
-->
</style>
</head>
<body>
<div class="bound" >
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
             <tr>     
                  <td height="10"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>
			 <if condition="$qypurview.90002 eq '90002'" >
			 <notempty  name="dealerinfo.dl_openid" >
			  <tr>     
                  <td height="35"   class="txtright" >已绑定微信</td>
				  <td class="txtleft" ></td>
			  </tr>
			   <tr>     
                  <td height="35"   class="txtright" >OpenID：</td>
				  <td class="txtleft" ><{$dealerinfo.dl_openid}></td>
			  </tr>
			  </notempty>
			   <notempty  name="dealerinfo.dl_wxnickname" >
			   <tr>     
                  <td height="35"   class="txtright" >微信名称：</td>
				  <td class="txtleft" ><{$dealerinfo.dl_wxnickname}></td>
			  </tr>
			  </notempty>
               <notempty  name="dealerinfo.dl_wxheadimg" >
			  <tr>
				  <td height="35"   class="txtright" >头像：</td>
				  <td  class="txtleft" > <img src="<{$dealerinfo.dl_wxheadimg}>"    style="width:60px; height:60px" />
				  </td>
			  </tr>
              </notempty>
			   </if>
			   <if condition="$qypurview.90001 eq '90001'" >
					 <neq name="dealerinfo.dl_username" value="">
					  <tr>
						  <td height="35"  class="txtright" > 登录账户：</td>
						  <td  class="txtleft" ><{$dealerinfo.dl_username}>
						  </td>
					  </tr>
					  </neq>
			  </if>

			  <tr>     
                  <td height="35"   class="txtright" >经销商编号：</td>
				  <td class="txtleft" ><{$dealerinfo.dl_number}></td>
			  </tr>
			   <tr>     
                  <td height="35"  class="txtright" > 经销商名称：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_name}></td>
			  </tr>
			  
			   <eq name="qypurview.10005" value="10005">
			  <tr>     
                  <td height="35"  class="txtright" >经销商级别：</td>
				  <td  class="txtleft" >
				   <{$dealerinfo.dl_type_str}>
				  </td>
			  </tr>
			   </eq>
               <neq name="dealerinfo.dlstt_name" value="">
			    <tr>     
					  <td height="35"  class="txtright" >门店级别：</td>
					  <td  class="txtleft" >
					   <{$dealerinfo.dlstt_name}>
					  </td>
				  </tr>
			   </neq>
			   
			   <eq name="qypurview.90003" value="90003">
			  <tr>     
                  <td height="35"  class="txtright" >上家经销：</td>
				  <td  class="txtleft" >
				    <{$dealerinfo.dl_belong_name}>
				  </td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" >推荐人：</td>
				  <td  class="txtleft" >
				    <{$dealerinfo.dl_referee_name}>
				  </td>
			  </tr>
			   </eq>
			    <tr>     
                  <td height="35"  class="txtright" >联系人：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_contact}></td>
			  </tr>
			  <tr>     
                  <td height="35"  class="txtright" >电话：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_tel}></td>
			  </tr>
			   <tr>     
                  <td height="35"  class="txtright" >传真：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_fax}></td>
			  </tr>
			   <tr>     
                  <td height="35"  class="txtright" >地址：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_address}></td>
			  </tr>
			   <tr>     
                  <td height="35"  class="txtright" >Email：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_email}></td>
			  </tr>
			  
			   <tr>     
                  <td height="35"  class="txtright" >QQ：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_qq}></td>
			  </tr>
			   <tr>     
                  <td height="35"  class="txtright" >微信号：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_weixin}></td>
			  </tr>
			    <tr>     
                  <td height="40"  class="txtright" >身份证：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_idcard}></td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >身份证图：</td>
				  <td  class="txtleft"  style="padding:10px 0 10px 0">
				  <neq name="dealerinfo.dl_idcardpic_str" value=""><a href="__PUBLIC__/uploads/dealer/<{$dealerinfo.dl_idcardpic}>" target="_blank" ><{$dealerinfo.dl_idcardpic_str}></a></neq>
				  <neq name="dealerinfo.dl_idcardpic2_str" value=""><a href="__PUBLIC__/uploads/dealer/<{$dealerinfo.dl_idcardpic2}>" target="_blank" ><{$dealerinfo.dl_idcardpic2_str}></a></neq>
				  </td>
			  </tr>

			  <tr>     
                  <td height="40"  class="txtright" >授权证书：</td>
				  <td  class="txtleft"  style="padding:10px 0 10px 0">
				  <neq name="dealerinfo.dl_pic_str" value=""><a href="__PUBLIC__/uploads/dealer/<{$dealerinfo.dl_pic}>" target="_blank" ><{$dealerinfo.dl_pic_str}></a></neq>
				  </td>
			  </tr>

			   <tr>     
                  <td height="35"  class="txtright" >备注：</td>
			     <td  class="txtleft" ><{$dealerinfo.dl_remark}></td>
			  </tr>
              <tr>     
                  <td height="40"  class="txtright" >注册时间：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_addtime|date='Y-m-d H:i:s',###}></td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >有效时间：</td>
				  <td  class="txtleft" ><{$dealerinfo.dl_date_str}></td>
			  </tr>
			</table>
</div>
</body>
</html>