 <script type='text/javascript' src='__PUBLIC__/Kangli/js/app.js' charset='utf-8'></script>
 <script type='text/javascript' src='__PUBLIC__/Kangli/js/swiper.min.js' charset='utf-8'></script>
 <script type='text/javascript' src='__PUBLIC__/Kangli/js/zepto.min.js' charset='utf-8'></script>
 <script type='text/javascript' src='__PUBLIC__/Kangli/js/sm.min.js' charset='utf-8'></script>
 <script type='text/javascript' src='__PUBLIC__/Kangli/js/jquery.base64.js' charset='utf-8'></script>
<!--  <script type="text/javascript">
 	$(document).on('click','.create-prompt', function () {
      	$.prompt('全国商品防伪查询',function (value) {
          	// $.alert('Your name is "' + value + '". You clicked Ok button');
      	});
  	});
 </script> -->
