<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统管理</title>
<include file="Com/head" />
<script type="text/javascript" >
function check(list,obj)
{
   
	$(".sonbox").each(function(){
	    if(list.indexOf($(this).val())>=0){
		    if($(obj).prop("checked")){
		       $(this).prop("checked",true);
		    }else{
		       $(this).prop("checked",false);
		    }
	    }
    });	
}
function checkrelevance(p,obj)
{
  if($(obj).prop("checked")){
      $(p).prop("checked",true);
  }
}
</script>
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('/Sysadmin')}>">首页</a>　&gt;　<A href="#"><{$atitle}></A></div>
<div class="nav_r"></div>
</div>
<div class="height20"></div>
<div class="content">
<form action="<{:U('Sysadmin/Company/edit_save')}>" id="login" name="login" method="post"  enctype="multipart/form-data" >
<input type="hidden" value="<{$qyinfo.qy_id}>" name="qy_id" />
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
             <tr>     
                  <td height="40"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>
			  <tr>     
                  <td height="40"   class="txtright" >企业代号：</td>
				  <td class="txtleft" ><input    type="text" size="25" maxlength="25"  name="qy_code"  class="input"  value="<{$qyinfo.qy_code}>"  <gt name="qyinfo.qy_id" value="0">disabled</gt>  >  * （必须与本地服务器企业代号对应）</td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" > 登录账户：</td>
				  <td  class="txtleft" ><input type="text" size="25" maxlength="25"  name="qy_username" class="input" value="<{$qyinfo.qy_username}>" <gt name="qyinfo.qy_id" value="0">disabled</gt>  > *</td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" > 登录密码：</td>
				  <td  class="txtleft" ><input type="text" size="25" maxlength="25"  name="qy_pwd" class="input" value=""   > <gt name="qyinfo.qy_id" value="0">如果为空则不修改密码<else/>*</gt></td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" > 企业名称：</td>
				  <td  class="txtleft" ><input type="text" size="50" maxlength="100"  name="qy_name" class="input" value="<{$qyinfo.qy_name}>" > *</td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >联系人：</td>
				  <td  class="txtleft" ><input type="text" size="25" maxlength="25"  name="qy_contact" class="input" value="<{$qyinfo.qy_contact}>" > *</td>
			  </tr>
			  <tr>     
                  <td height="40"  class="txtright" >电话：</td>
				  <td  class="txtleft" ><input type="text" size="25" maxlength="25"  name="qy_tel" class="input" value="<{$qyinfo.qy_tel}>" > *</td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >Logo：</td>
				  <td  class="txtleft"  style="padding:10px 0 10px 0">
				  <neq name="qyinfo.qy_pic_str" value=""><{$qyinfo.qy_pic_str}></neq> <input name="pic_file" type="file" /> (高：40px,png格式) <input type="hidden"  value="<{$qyinfo.qy_pic}>" name="old_qy_pic" />
				  </td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >微站目录：</td>
				  <td  class="txtleft" ><input type="text" size="25" maxlength="100"  name="qy_folder" class="input" value="<{$qyinfo.qy_folder}>" > (由字母数字组成) <neq name="qyinfo.qy_folder" value=""><a href="http://www.cn315fw.com/<{$qyinfo.qy_folder}>" target="_blank">http://www.cn315fw.com/<{$qyinfo.qy_folder}></a></neq></td>
			  </tr>
<!--		   <tr>     
                  <td height="40"  class="txtright" >传真：</td>
				  <td  class="txtleft" ><input type="text" size="25" maxlength="25"  name="qy_fax" class="input" value="<{$qyinfo.qy_fax}>" > </td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >地址：</td>
				  <td  class="txtleft" ><input type="text" size="50" maxlength="100"  name="qy_address" class="input" value="<{$qyinfo.qy_address}>" ></td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >Email：</td>
				  <td  class="txtleft" ><input type="text" size="50" maxlength="100"  name="qy_email" class="input" value="<{$qyinfo.qy_email}>" > </td>
			  </tr>-->
			   <tr>     
                  <td height="40"  class="txtright" >6小时内允许查询次数：</td>
				  <td  class="txtleft" ><input type="text" size="5" maxlength="5"  name="qy_querytimes" class="input" value="<{$qyinfo.qy_querytimes}>" > (防止恶意查询)</td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >关联企业码：</td>
				  <td  class="txtleft" ><input type="text" size="25" maxlength="50"  name="qy_relation" class="input" value="<{$qyinfo.qy_relation}>" > (以|分隔，如：9999|9998)(如果有多个企业码同属于一个公司，查询时用其中一组fwkey即可)</td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >FWKEY：</td>
				  <td  class="txtleft" ><eq name="qyinfo.qy_fwkey" value="" ><input type="hidden" value="" name="qy_fwkey" /><else/><{$qyinfo.qy_fwkey}><input type="hidden" value="<{$qyinfo.qy_fwkey}>" name="qy_fwkey" /></eq>  (用于给第三方调用接口)</td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >FWSECRET：</td>
				  <td  class="txtleft" ><{$qyinfo.qy_fwsecret}> (用于给第三方调用接口)</td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >备注：</td>
				  <td  class="txtleft"  style="padding-bottom:10px" ><textarea  name="qy_remark"   rows="8"  cols="60" ><{$qyinfo.qy_remark}></textarea></td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >权限：</td>
				  <td  class="txtleft" >
<table cellspacing="1" cellpadding="1"  class="purview" >
 <tbody>
 <tr>
  <td width="15%"    class="tdl" >
    <input type="checkbox"  onclick="check('10001,10002,10003,10004,10005,10006,10007,10008',this);" value="10000" name="admin_purview[]"  id="parent_10000"  <eq name="purview_arr.10000" value="10000" >checked</eq> > 经销商管理</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="10001" name="admin_purview[]" onClick="checkrelevance('#parent_10000',this)" <eq name="purview_arr.10001" value="10001">checked</eq> > 经销商列表</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="10002" name="admin_purview[]" onClick="checkrelevance('#parent_10000',this)" <eq name="purview_arr.10002" value="10002">checked</eq> > 添加经销商</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="10003" name="admin_purview[]" onClick="checkrelevance('#parent_10000',this)" <eq name="purview_arr.10003" value="10003">checked</eq> > 删除经销商</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="10004" name="admin_purview[]" onClick="checkrelevance('#parent_10000',this)" <eq name="purview_arr.10004" value="10004">checked</eq> > 修改经销商</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="10005" name="admin_purview[]" onClick="checkrelevance('#parent_10000',this)" <eq name="purview_arr.10005" value="10005">checked</eq> > 经销商分类</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="10006" name="admin_purview[]" onClick="checkrelevance('#parent_10000',this)" <eq name="purview_arr.10006" value="10006">checked</eq> > 授权品牌(对经销商多个品牌授权，用于代理查询)</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="10007" name="admin_purview[]" onClick="checkrelevance('#parent_10000',this)" <eq name="purview_arr.10007" value="10007">checked</eq> > 授权淘宝店(用于代理查询)</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="10008" name="admin_purview[]" onClick="checkrelevance('#parent_10000',this)" <eq name="purview_arr.10008" value="10008">checked</eq> > 生成授权书</div>
	</td>
 </tr>
 
 <tr>
  <td    class="tdl" >
    <input type="checkbox"  onclick="check('90001,90002,90003,90004',this);" value="90000" name="admin_purview[]"  id="parent_90000"  <eq name="purview_arr.90000" value="90000" >checked</eq> > 经销商登录</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="90001" name="admin_purview[]" onClick="checkrelevance('#parent_90000',this)" <eq name="purview_arr.90001" value="90001">checked</eq> > 会员号登录</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="90002" name="admin_purview[]" onClick="checkrelevance('#parent_90000',this)" <eq name="purview_arr.90002" value="90002">checked</eq> > 微信号登录</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="90003" name="admin_purview[]" onClick="checkrelevance('#parent_90000',this)" <eq name="purview_arr.90003" value="90003">checked</eq> > 经销商上下级</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="90004" name="admin_purview[]" onClick="checkrelevance('#parent_90000',this)" <eq name="purview_arr.90004" value="90004">checked</eq> > 经销商出货</div>
    </td>
 </tr>
 <tr>
  <td    class="tdl" >
    <input type="checkbox"  onclick="check('11001,11002',this);" value="11000" name="admin_purview[]"  id="parent_11000"  <eq name="purview_arr.11000" value="11000" >checked</eq> > 仓库管理</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="11001" name="admin_purview[]" onClick="checkrelevance('#parent_11000',this)" <eq name="purview_arr.11001" value="11001">checked</eq> > 仓库列表</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="11002" name="admin_purview[]" onClick="checkrelevance('#parent_11000',this)" <eq name="purview_arr.11002" value="11002">checked</eq> > 增、删、改仓库</div>

	</td>
  </tr>
 <tr>
  <td    class="tdl" >
    <input type="checkbox"  onclick="check('20001,20002,20003,20004',this);" value="20000" name="admin_purview[]"  id="parent_20000"  <eq name="purview_arr.20000" value="20000" >checked</eq> > 产品管理</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="20001" name="admin_purview[]" onClick="checkrelevance('#parent_20000',this)" <eq name="purview_arr.20001" value="20001">checked</eq> > 产品列表</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="20002" name="admin_purview[]" onClick="checkrelevance('#parent_20000',this)" <eq name="purview_arr.20002" value="20002">checked</eq> > 添加/修改产品</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="20003" name="admin_purview[]" onClick="checkrelevance('#parent_20000',this)" <eq name="purview_arr.20003" value="20003">checked</eq> > 删除产品</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="20004" name="admin_purview[]" onClick="checkrelevance('#parent_20000',this)" <eq name="purview_arr.20004" value="20004">checked</eq> > 产品分类管理</div>
    </td>
 </tr>
 
 <tr>
  <td    class="tdl" >
    <input type="checkbox"  onclick="check('30001,30002,30003,30004,30005,30006,30009',this);" value="30000" name="admin_purview[]"  id="parent_30000"  <eq name="purview_arr.30000" value="30000" >checked</eq> > 出货管理</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="30001" name="admin_purview[]" onClick="checkrelevance('#parent_30000',this)" <eq name="purview_arr.30001" value="30001">checked</eq> > 出货列表</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="30002" name="admin_purview[]" onClick="checkrelevance('#parent_30000',this)" <eq name="purview_arr.30002" value="30002">checked</eq> > 出货扫描</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="30003" name="admin_purview[]" onClick="checkrelevance('#parent_30000',this)" <eq name="purview_arr.30003" value="30003">checked</eq> > 出货导入</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="30004" name="admin_purview[]" onClick="checkrelevance('#parent_30000',this)" <eq name="purview_arr.30004" value="30004">checked</eq> > 微信出货扫描</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="30005" name="admin_purview[]" onClick="checkrelevance('#parent_30000',this)" <eq name="purview_arr.30005" value="30005">checked</eq> > 出货修改</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="30006" name="admin_purview[]" onClick="checkrelevance('#parent_30000',this)" <eq name="purview_arr.30006" value="30006">checked</eq> > PDA出货扫描</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="30009" name="admin_purview[]" onClick="checkrelevance('#parent_30000',this)" <eq name="purview_arr.30009" value="30009">checked</eq> > 出货记录禁用</div>
    </td>
 </tr>
 
 <tr>
  <td    class="tdl" >
    <input type="checkbox"  onclick="check('40001,40002,40003,40004,40005',this);" value="40000" name="admin_purview[]"  id="parent_40000"  <eq name="purview_arr.40000" value="40000" >checked</eq> > 会员管理</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="40001" name="admin_purview[]" onClick="checkrelevance('#parent_40000',this)" <eq name="purview_arr.40001" value="40001">checked</eq> > 会员列表</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="40002" name="admin_purview[]" onClick="checkrelevance('#parent_40000',this)" <eq name="purview_arr.40002" value="40002">checked</eq> > 添加会员(会员登录)</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="40003" name="admin_purview[]" onClick="checkrelevance('#parent_40000',this)" <eq name="purview_arr.40003" value="40003">checked</eq> > 修改会员</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="40004" name="admin_purview[]" onClick="checkrelevance('#parent_40000',this)" <eq name="purview_arr.40004" value="40004">checked</eq> > 删除会员</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="40005" name="admin_purview[]" onClick="checkrelevance('#parent_40000',this)" <eq name="purview_arr.40005" value="40005">checked</eq> > 微信号登录(与添加会员只能选其一)</div>
    </td>
 </tr>
 
  <tr>
  <td    class="tdl" >
    <input type="checkbox"  onclick="check('50001,50002,50003,50004,50005,50006',this);" value="50000" name="admin_purview[]"  id="parent_50000"  <eq name="purview_arr.50000" value="50000" >checked</eq> > 积分管理</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="50001" name="admin_purview[]" onClick="checkrelevance('#parent_50000',this)" <eq name="purview_arr.50001" value="50001">checked</eq> > 积分明细</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="50002" name="admin_purview[]" onClick="checkrelevance('#parent_50000',this)" <eq name="purview_arr.50002" value="50002">checked</eq> > 积分兑换</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="50003" name="admin_purview[]" onClick="checkrelevance('#parent_50000',this)" <eq name="purview_arr.50003" value="50003">checked</eq> > 礼品管理</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="50004" name="admin_purview[]" onClick="checkrelevance('#parent_50000',this)" <eq name="purview_arr.50004" value="50004">checked</eq> > 实物礼品</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="50005" name="admin_purview[]" onClick="checkrelevance('#parent_50000',this)" <eq name="purview_arr.50005" value="50005">checked</eq> > 虚拟礼品</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="50006" name="admin_purview[]" onClick="checkrelevance('#parent_50000',this)" <eq name="purview_arr.50006" value="50006">checked</eq> > 手动加积分</div>
    </td>
  </tr>
   <tr>
  <td    class="tdl" >
    <input type="checkbox"  onclick="check('12001,12002,12003,12004,12005,12006,12007,12008',this);" value="12000" name="admin_purview[]"  id="parent_12000"  <eq name="purview_arr.12000" value="12000" >checked</eq> > 导购管理</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="12001" name="admin_purview[]" onClick="checkrelevance('#parent_12000',this)" <eq name="purview_arr.12001" value="12001">checked</eq> > 导购列表</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="12002" name="admin_purview[]" onClick="checkrelevance('#parent_12000',this)" <eq name="purview_arr.12002" value="12002">checked</eq> > 添加代购(会员号方式登录)</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="12003" name="admin_purview[]" onClick="checkrelevance('#parent_12000',this)" <eq name="purview_arr.12003" value="12003">checked</eq> > 修改导购</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="12004" name="admin_purview[]" onClick="checkrelevance('#parent_12000',this)" <eq name="purview_arr.12004" value="12004">checked</eq> > 删除导购</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="12005" name="admin_purview[]" onClick="checkrelevance('#parent_12000',this)" <eq name="purview_arr.12005" value="12005">checked</eq> > 微信方式登录</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="12006" name="admin_purview[]" onClick="checkrelevance('#parent_12000',this)" <eq name="purview_arr.12006" value="12006">checked</eq> > 积分明细</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="12007" name="admin_purview[]" onClick="checkrelevance('#parent_12000',this)" <eq name="purview_arr.12007" value="12007">checked</eq> > 积分兑换</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="12008" name="admin_purview[]" onClick="checkrelevance('#parent_12000',this)" <eq name="purview_arr.12008" value="12008">checked</eq> > 礼品管理</div>
    </td>
  </tr>

  <!--<tr>
  <td    class="tdl" >
    <input type="checkbox"  onclick="check('60001,60002,60003,60004,60005,60006,60007',this);" value="60000" name="admin_purview[]"  id="parent_60000"  <eq name="purview_arr.60000" value="60000" >checked</eq> > PC端</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="60001" name="admin_purview[]" onClick="checkrelevance('#parent_60000',this)" <eq name="purview_arr.60001" value="60001">checked</eq> > 基本设置</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="60002" name="admin_purview[]" onClick="checkrelevance('#parent_60000',this)" <eq name="purview_arr.60002" value="60002">checked</eq> > 积分说明</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="60003" name="admin_purview[]" onClick="checkrelevance('#parent_60000',this)" <eq name="purview_arr.60003" value="60003">checked</eq> > 帮助中心</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="60004" name="admin_purview[]" onClick="checkrelevance('#parent_60000',this)" <eq name="purview_arr.60004" value="60004">checked</eq> > 注册协议</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="60005" name="admin_purview[]" onClick="checkrelevance('#parent_60000',this)" <eq name="purview_arr.60005" value="60005">checked</eq> > 产品展示</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="60006" name="admin_purview[]" onClick="checkrelevance('#parent_60000',this)" <eq name="purview_arr.60005" value="60006">checked</eq> > 企业动态</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="60007" name="admin_purview[]" onClick="checkrelevance('#parent_60000',this)" <eq name="purview_arr.60005" value="60007">checked</eq> > 图片管理</div>
    </td>
  </tr>-->
  
  <tr>
  <td    class="tdl" >
    <input type="checkbox"  onclick="check('70001,70002,70003,70004,70005,70006,70007,70008,70009,70010,70011,70012,70013,70014',this);" value="70000" name="admin_purview[]"  id="parent_70000"  <eq name="purview_arr.70000" value="70000" >checked</eq> > 前台端</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="70001" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70001" value="70001">checked</eq> > 基本设置</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="70010" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70010" value="70010">checked</eq> > 基本信息</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="70011" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70011" value="70011">checked</eq> > 公司简介</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="70012" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70012" value="70012">checked</eq> > 联系方式</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="70002" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70002" value="70002">checked</eq> > 积分说明</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="70003" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70003" value="70003">checked</eq> > 帮助中心</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="70004" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70004" value="70004">checked</eq> > 注册协议</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="70005" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70005" value="70005">checked</eq> > 产品展示</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="70008" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70008" value="70008">checked</eq> > 产品分类</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="70006" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70006" value="70006">checked</eq> > 企业动态</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="70007" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70007" value="70007">checked</eq> > 图片管理</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="70009" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70009" value="70009">checked</eq> > 留言反馈</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="70013" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70013" value="70013">checked</eq> > 买家秀</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="70014" name="admin_purview[]" onClick="checkrelevance('#parent_70000',this)" <eq name="purview_arr.70014" value="70014">checked</eq> > 调查问卷</div>
	</td>
  </tr>
  
  <tr>
  <td    class="tdl" >
    <input type="checkbox"  onclick="check('80001,80002,80003,80004',this);" value="80000" name="admin_purview[]"  id="parent_80000"  <eq name="purview_arr.80000" value="80000" >checked</eq> > 查询</td>
    <td class="tdr" >
        <div class="son"><input type="checkbox" class="sonbox"  value="80001" name="admin_purview[]" onClick="checkrelevance('#parent_80000',this)" <eq name="purview_arr.80001" value="80001">checked</eq> > 防窜货查询（通过物流码）</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="80003" name="admin_purview[]" onClick="checkrelevance('#parent_80000',this)" <eq name="purview_arr.80003" value="80003">checked</eq> > 防窜货查询（微信打开查，同时微站目录要设置）</div>
		<div class="son"><input type="checkbox" class="sonbox"  value="80004" name="admin_purview[]" onClick="checkrelevance('#parent_80000',this)" <eq name="purview_arr.80004" value="80004">checked</eq> > 防窜货查询(通过防伪码)</div>
        <div class="son"><input type="checkbox" class="sonbox"  value="80002" name="admin_purview[]" onClick="checkrelevance('#parent_80000',this)" <eq name="purview_arr.80002" value="80002">checked</eq> > 防伪码查询记录</div>

	</td>
  </tr>
 
</tbody>
</table>
				  </td>
			  </tr>

			  <tr>  <td height="60"  ></td>
                    <td  class="txtleft"  >
             <input type="submit" name="Submit" value="<{$atitle}>" class="botton" >　　　　<input name="" type="reset" value="返 回"  onClick="javascript:window.history.go(-1);" class="botton" >
            </td>
			  </tr>
			</table>
</form>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>