<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>代理业绩</title>
<include file="Com/head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/mp/js/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/mp/js/themes/icon.css">
<script type="text/javascript" src="__PUBLIC__/mp/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/mp/js/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" >
$(document).ready(function() {
   $("#begintime").datebox("setValue", "<{$begintime}>"); 
   $("#endtime").datebox("setValue", "<{$endtime}>"); 
  });
</script>
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="#">代理业绩</A></div>
<div class="nav_r"></div>
</div>
<div class="height10"></div>
<div>
<div style="float:left; width:40%">
统计日期：<{$begintime}> 至 <{$endtime}>  (仅统计已发货和已完成的订单金额)
</div>
<div style="float:right; width:59%; text-align:right"><form action="<{:U('Mp/Orders/dlordersum')}>"   method="post" name="fmmm"  >
发货日期：<input    type="text" size="15" maxlength="15"  name="begintime"  class="easyui-datebox"  value=""   id="begintime"    >　到　<input    type="text" size="15" maxlength="15"  name="endtime"  class="easyui-datebox"  value=""   id="endtime"    >　
<select name="dl_type"   class="select" style="width:100px"  >
					<option value="0" >按级别过滤</option>
					<volist name='dltypelist' id='vo' key='key' >
					<option value="<{$vo.dlt_id}>"  <if condition="$vo.dlt_id eq $dl_type" >selected</if> ><{$vo.dlt_name}></option>
					</volist>
</select>　
<input    type="text" size="20" maxlength="20"  name="dlusername"  class="input"   onfocus="if(this.value=='请填写代理账号')this.value=''"   value="<{$dlusername}>"   style="color:#999999"  >　<input type="submit" name="Submit" value="查 询"  >
</form>
</div>
</div>
<div class="height10"></div>
<div class="content">
<table class="table_results" >
<thead><tr>
<th  width="18%" style="text-align:left"><span>经销商名称</span></th>
<th  width="10%"   ><span>经销商编号</span></th>
<th  width="12%" ><span>电话</span></th>
<th  width="12%" ><span>级别</span></th>
<th  width="14%" ><span>上家代理</span></th>
<th  width="14%"  ><span>推荐人</span></th>
<th  width="10%"  ><span>下单金额<if condition="$unitcode eq '2976' ">/订购数</if></span></th>
<th  width="10%"  ><span>操作</span></th>
</tr></thead>
<tbody>
<foreach name='dealerlist' item='item'  key='key'>
<tr class="<{$key%2 == 0?'odd':'even'}>" >
<td class="data" style="text-align:left"  ><span><{$item.dl_name}> (<{$item.dl_username}>)</span></td>
<td class="data" ><span><{$item.dl_number}></span></td>
<td class="data"><span><{$item.dl_tel}></span></td>
<td class="data"><span><{$item.dl_type_str}></span></td>
<td class="data"><span><{$item.dl_belong_str}></span></td>
<td class="data"><span><{$item.dl_referee_str}></span></td>
<td class="data"><span><{$item.dl_odsum|number_format=2,'.',''}> 元</span><if condition="$item.dl_minnumstr neq '' "><br /><{$item.dl_minnumstr}></if></td>
<td class="data"><span><a href="<{:U('Mp/Orders/index?dlusername='.$item['dl_username'].'')}>">明细</a></span></td>
</tr>
</foreach>
</tbody>
</table>
<div class="height10"></div>
<table class="page" cellpadding="0" cellspacing="0"><tbody>
<tr>
<td><{$page}></td>
</tr></tbody></table>
<div style="float:right; line-height:4em">共 <{$pagecount}> 条记录　</div>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>