<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改密码</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Index/updatepwd')}>">修改密码</A></div>
<div class="nav_r"></div>
</div>
<div class="height20"></div>
<div class="content">
<form action="<{:U('Mp/Index/updatepwd_save')}>"   method="post" name="fmmm"  >
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
             <tr>     
                  <td height="40"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>
			  <tr>     
                  <td height="40"   class="txtright" >旧密码：</td>
				  <td class="txtleft" ><input    type="password" size="25" maxlength="25"  name="old_pwd"  class="input"  value=""  >  * </td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >新密码：</td>
				  <td  class="txtleft" ><input type="password" size="25" maxlength="25"  name="pwd1" class="input" value="" >  * </td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >确认新密码：</td>
				  <td  class="txtleft" ><input type="password" size="25" maxlength="25"  name="pwd2" class="input" value="" >  * </td>
			  </tr>

			  <tr>  <td height="60" ></td>
                    <td  class="txtleft"  >
             <input type="submit" name="Submit" value="<{$atitle}>" class="botton" >　　　　<input name="" type="reset" value="返 回"  onClick="javascript:window.history.go(-1);" class="botton" >
            </td>
			  </tr>
			</table>
</form>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>