<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>年度销售奖</title>
<include file="Com/head" />

</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="#">年度销售奖</A></div>
<div class="nav_r"><a href="<{:U('Mp/Fanli/salemonfanlirate')}>">销售奖设置</a><a href="<{:U('Mp/Fanli/salemonfanlirate')}>" style="margin-left: .5rem">生成返利</a></div>
</div>
<div class="height10"></div>
<div>
<div style="float:left; width:30%">

</div>
<div style="float:right; width:69%; text-align:right">
<form action="<{:U('Mp/Fanli/saleyear')}>"   method="post" name="fmmm"  >
<select name="year"   class="select" >
<option value=""   >选择年份</option>
<option value="2025"    <if condition="$year eq '2025' "> selected </if>  >2025　</option>
<option value="2024"    <if condition="$year eq '2024' "> selected </if>  >2024　</option>
<option value="2023"    <if condition="$year eq '2023' "> selected </if>  >2023　</option>
<option value="2022"    <if condition="$year eq '2022' "> selected </if>  >2022　</option>
<option value="2021"    <if condition="$year eq '2021' "> selected </if>  >2021　</option>
<option value="2020"    <if condition="$year eq '2020' "> selected </if>  >2020　</option>
<option value="2019"    <if condition="$year eq '2019' "> selected </if>  >2019　</option>
<option value="2018"    <if condition="$year eq '2018' "> selected </if>  >2018　</option>
<option value="2017"    <if condition="$year eq '2017' "> selected </if>  >2017　</option>
<option value="2016"    <if condition="$year eq '2016' "> selected </if>  >2016　</option>
</select>　
<!-- <select name="month"   class="select" >
<option value=""   >选择月份</option>
<option value="1"    <if condition="$month eq '1' "> selected </if>  >1　</option>
<option value="2"    <if condition="$month eq '2' "> selected </if>  >2　</option>
<option value="3"    <if condition="$month eq '3' "> selected </if>  >3　</option>
<option value="4"    <if condition="$month eq '4' "> selected </if>  >4　</option>
<option value="5"    <if condition="$month eq '5' "> selected </if>  >5　</option>
<option value="6"    <if condition="$month eq '6' "> selected </if>  >6　</option>
<option value="7"    <if condition="$month eq '7' "> selected </if>  >7　</option>
<option value="8"    <if condition="$month eq '8' "> selected </if>  >8　</option>
<option value="9"    <if condition="$month eq '9' "> selected </if>  >9　</option>
<option value="10"    <if condition="$month eq '10' "> selected </if>  >10　</option>
<option value="10"    <if condition="$month eq '11' "> selected </if>  >11　</option>
<option value="12"    <if condition="$month eq '12' "> selected </if>  >12　</option>
</select>
 -->
<input    type="text" size="20" maxlength="20"  name="dlusername"  class="input"   onfocus="this.value=''"   value="<{$dlusername}>"   style="color:#999999"  >　<input type="submit" name="Submit" value="查 询"  >
</form>
</div>
</div>
<div class="height10"></div>
<div class="content">
<table class="table_results" >
<thead><tr>
<th  width="15%" style="text-align:left"><span>收款代理</span></th>
<th  width="15%"  style="text-align:left" ><span>付款代理</span></th>
<th  width="15%" ><span>奖励</span></th>
<th  width="15%" ><span>业绩</span></th>
<th  width="10%" ><span>年</span></th>
<th  width="20%" ><span>说明</span></th>
<th  width=""  ><span>对应返利明细</span></th>
</tr></thead>
<tbody>
<foreach name='list' item='item'  key='key'>
<tr class="<{$key%2 == 0?'odd':'even'}>" >
<td class="data" style="text-align:left"  ><span><{$item.dl_name_str}></span></td>
<td class="data" style="text-align:left" ><span><{$item.dl_sendname_str}></span></td>
<td class="data"><span><{$item.sm_rewardstr}> 元</span></td>
<td class="data"><span><if condition="($item.sm_mysalestr neq '') AND ($item.sm_mysalestr neq '0') ">个人：<{$item.sm_mysalestr}></if><if condition="($item.sm_mysalestr neq '') AND ($item.pro_price neq '0') "><br />团队：<{$item.sm_teamsalestr}></if></span></td>
<td class="data"><span><{$item.sm_date|date='Y',###}></span></td>
<td class="data"><span><{$item.sm_remark}></span></td>
<td class="data"><span><if condition="($item.sm_flid neq '') AND ($item.sm_flid neq '0') "><a href="<{:U('Mp/Fanli/fanlidetail?fl_id='.$item['sm_flid'].'')}>">返利明细</a></if></span></td>
</tr>
</foreach>
</tbody>
</table>
<div class="height10"></div>
<table class="page" cellpadding="0" cellspacing="0"><tbody>
<tr>
<td><{$page}></td>
</tr></tbody></table>
<div style="float:right; line-height:4em">共 <{$pagecount}> 条记录　</div>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>