<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>积分明细</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Dljf/dljflist')}>">积分明细</A>　&gt;　<A href="#">详细</A></div>
<div class="nav_r"></div>
</div>
<div class="height20"></div>
<div class="content">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
             <tr>     
                  <td height="40"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>
			  <tr>     
                  <td height="40"   class="txtright" >积分代理：</td>
				  <td class="txtleft" ><{$dljfinfo.dl_name_str}></td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >积分：</td>
				  <td  class="txtleft" ><{$dljfinfo.dljf_jfstr}></td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >积分类型：</td>
				  <td  class="txtleft" ><{$dljfinfo.dljf_typestr}></td>
			  </tr>
			  <if condition="($dljfinfo.dljf_orderid neq '') AND ($dljfinfo.dljf_orderid neq '0') ">
			  <tr>     
                  <td height="40"  class="txtright" >相关订单：</td>
				  <td  class="txtleft" ><{$dljfinfo.dljf_orderid}></td>
			  </tr>
			  </if>

			   <tr>     
                  <td height="40"  class="txtright" >备注说明：</td>
				  <td  class="txtleft" ><{$dljfinfo.dljf_remark|nl2br}></td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >积分时间：</td>
				  <td  class="txtleft" ><{$dljfinfo.dljf_addtime|date='Y-m-d H:m:s',###}></td>
			  </tr>
			   
			  <tr>  <td height="60" ></td>
                    <td  class="txtleft"  >
             <input name="" type="reset" value="返 回"  onClick="javascript:window.history.go(-1);" class="botton" >
            </td>
			  </tr>
			</table>

</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>