<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>积分会员管理</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="#">积分会员管理</A></div>
<div class="nav_r"><eq name="qypurview.40002" value="40002"><a href="<{:U('Mp/Jfuser/add')}>">添加会员</a></eq></div>
</div>
<div class="height10"></div>
<div>
<form action="<{:U('Mp/Jfuser/index')}>"   method="post" name="fmmm"  >
<input    type="text" size="20" maxlength="25"  name="keyword"  class="input"  value="<{$keyword}>"   >   <input type="submit" name="Submit" value="搜 索"  ></form></div>
<div class="height10"></div>
<div class="content">
<table class="table_results" >
<thead><tr>

<th  width="10%" ><span>用户</span></th>
<th  width="10%" ><span>姓名</span></th>
<th  width="15%" ><span>电话</span></th>
<th  width="15%" ><span>地区</span></th>
<th  width="8%" ><span>积分</span></th>
<th  width="10%"  ><span>注册时间</span></th>
<th  width="10%"  ><span>最近登录</span></th>
<th  width="5%"  ><span>状态</span></th>
<th  width="14%" ><span>操作</span></th>
<th  width="3%"  ><span>备</span></th>
</tr></thead>
<tbody>
<foreach name='list' item='item'  key='key'>
<tr class="<{$key%2 == 0?'odd':'even'}>" >
<td class="data"><span><if condition="$qypurview.40005 eq '40005' "><{$item.jfuser_wxnickname}><else/><{$item.jfuser_username}></if></span></td>
<td class="data"><span><{$item.jfuser_truename}></span></td>
<td class="data"><span><{$item.jfuser_tel}></span></td>
<td class="data"><span><if condition="$item.jfuser_diqustr neq '' "><{$item.jfuser_diqustr}><else/><if condition="$qypurview.40005 eq '40005' "><{$item.jfuser_wxprovince}><{$item.jfuser_wxcity}><else/><{$item.jfuser_diqustr}></if></if></span></td>
<td class="data"><span><a href="<{:U('Mp/Jfdetail/index?jfuser_id='.$item['jfuser_id'].'')}>" style="text-decoration:underline" ><{$item.jfuser_jf}></a></span></td>
<td class="data"><span><{$item.jfuser_addtime|date='Y-m-d H:i:s',###}></span></td>
<td class="data"><neq name="item.jfuser_logintime" value="0"><span><{$item.jfuser_logintime|date='Y-m-d H:i:s',###}></span></neq></td>
<td class="data"><span><a href="<{:U('Mp/Jfuser/active?jfuser_id='.$item['jfuser_id'].'&jfuser_active='.$item['jfuser_active'].'')}>" ><img src="__PUBLIC__/mp/static/<{$item['jfuser_active'] == 0?'no':'yes'}>.gif" /></a></span></td>
<td class="data"><span><eq name="qypurview.50006" value="50006"><a href="<{:U('Mp/Jfuser/changedjf?jfuser_id='.$item['jfuser_id'].'')}>">增减分</a>&nbsp;</eq><a href="<{:U('Mp/Jfuser/view?jfuser_id='.$item['jfuser_id'].'')}>">详细</a> <a href="<{:U('Mp/Jfuser/edit?jfuser_id='.$item['jfuser_id'].'')}>">修改</a> <a  href="#" onClick="javascript:var truthBeTold = window.confirm('该操作将彻底删除,谨慎操作!'); if (truthBeTold) window.location.href='<{:U('Mp/Jfuser/delete?jfuser_id='.$item['jfuser_id'].'')}>';" >删除</a></span></td>
<td class="data"><neq name="item.jfuser_remark" value=""><span  title="<{$item.jfuser_remark}>"  style="cursor:pointer" >...</span></neq></td>
</tr>
</foreach>
</tbody>
</table>
<div class="height10"></div>
<table class="page" cellpadding="0" cellspacing="0"><tbody>
<tr>
<td><{$page}></td>
</tr></tbody></table>
<div style="float:right; line-height:4em">共 <{$pagecount}> 条记录　</div>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>