<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="__PUBLIC__/Kangli/static/chuanshu_min.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no,email=no,adress=no">
		<title>
			<{$Think.config.QY_COMPANY}>-确认发货</title>
		<include file="Com/head" />
		<style type="text/css">
			.icon_lists {
				width: 100% !important;
			}
			
			.icon_lists li {
				float: left;
				width: 20%;
				height: 180px;
				text-align: center;
				list-style: none !important;
			}
			
			.icon_lists li img {
				width: 2rem;
				margin: 0.3rem;
			}
			
			.icon_lists li a {
				text-decoration: none;
			}
			
			.icon_lists .iconfont {
				font-size: 25px;
				line-height: 30px;
				margin: 10px 0;
				color: #7e7e7e;
				-webkit-transition: font-size 0.25s ease-out 0s;
				-moz-transition: font-size 0.25s ease-out 0s;
				transition: font-size 0.25s ease-out 0s;
			}
			
			.icon_lists .iconfont.active,
			.icon_lists .iconfont:active {
				font-size: 25px;
				color: #f08519;
			}
			
			.icon_lists .name {
				font-size: 12px;
			}
			
			.bar-tab .tab-item.active,
			.bar-tab .tab-item:active {
				color: #f08519;
			}
			.list-block .item-title.label {
				width: 25%;
			}
		</style>
	</head>

	<body ontouchstart="" style="background-color:#FAFAFA">
		<div class="page">
			<header class="bar bar-nav" style="background-color:#006db2;">
				<if condition="$odoneself gt 0">
					<a href="<{:U('./Kangli/Orders/index/ly_status/1')}>" class="icon icon-left pull-left" style="color:#fff"></a>
				<else/>
					<a href="javascript:;" onClick="javascript :history.back(-1);" class="icon icon-left pull-left" style="color:#fff"></a>
				</if>
				<!-- <a href="<{:U('./Kangli/Dealer')}>" class="icon icon-left pull-left" style="color:#fff"></a> -->
				<h1 class="title" style="color:#fff">确认发货</h1>
			</header>
			<div class="content">
				<div class="kl-layout-horizontally" style="width:100%;padding:.5rem;background: #75787f;">
					<i class="iconfont icon-dingdan" style="font-size:1rem;color: #fff"></i>
					<div style="width: 100%;color:#fff">
						<div class="kl-layout-horizontally-between">
							<div class="pro_name" style="padding: .0 .3rem .3rem .3rem">
								订单号：
								<{$ordersinfo.od_orderid}>
							</div>
							<div class="order-price" style="padding: .0 0 .3rem 0">
								<{$ordersinfo.od_state_str}>
							</div>
						</div>
						<div class="pro_name" style="padding: .0 .3rem .3rem .3rem">
							<if condition="$ordersinfo.od_expressname neq ''">物流信息：
								<{$ordersinfo.od_expressname}>
									<if condition="$ordersinfo.od_expressnum neq ''">单号
										<{$ordersinfo.od_expressnum}>
									</if>
							</if>
						</div>
						<div class="pro_name" style="padding: .0 .3rem 0rem .3rem;font-size: 0.3rem; color: #c1c1c1">
							<{$ordersinfo.od_addtime|date='Y-m-d h:i:s' ,###}>
						</div>
					</div>
				</div>
				<div class="kl-layout-horizontally-vcenter" id="dl_address" style="background:#fff;margin-top:0.3rem;">
					<i class="iconfont icon-hongjiuchengicondizhi" style="font-size:1.5rem;margin:.3rem 0.5rem;color: #7e7e7e"></i>
					<div class="kl-layout-horizontally-vcenter" style="width:100%;margin-right:0.3rem;padding:.3rem 0;">
						<div style="margin: 0 .3rem 0 0;width:100%;">
							<div class="kl-layout-horizontally-between">
								<div class="pro_name">
									<{$ordersinfo.od_contact}></div>
								<div class="order-price">
									<{$ordersinfo.od_tel}>
								</div>
							</div>
							<div class="pro_name" style="color: #c1c1c1;padding:.2rem 0;max-height:2rem">
								<{$ordersinfo.od_address}>
							</div>
						</div>
					</div>
				</div>
				<div class="list-block" style="margin-top:0.25rem;margin-bottom:1rem; background: #fff">
						<ul style="background: transparent;">
							<li style="background:#fff;">
								<div class="item-content" id="express_item" style="padding-left:0rem;">
									<div class="item-media"><i class="icon icon-form-email"></i></div>
									<div class="item-inner">
										<div class="item-title label">
											<h1>物流快递：</h1></div>
										<div class="item-input">
											<input type="hidden" name="od_express" id="od_express">
											<input id="od_express_name" type="text" placeholder="请选择物流快递" style="font-size: 0.5rem" readonly>
										</div>
										<i class="iconfont icon-down-copy" style="font-size:1rem;"></i>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content" style="padding-left:0rem;">
									<div class="item-media"><i class="icon icon-form-name"></i></div>
									<div class="item-inner">
										<div class="item-title label">
											<h1>物流单号：</h1></div>
										<div class="item-input">
											<input id="od_expressnum" name="od_expressnum" type="text" style="font-size: 0.75rem">
										</div>
									</div>
								</div>
							</li>
							<li class="align-top">
								<div class="item-content" style="padding-left:0rem;">
									<div class="item-media"><i class="icon icon-form-name"></i></div>
									<div class="item-inner">
										<div class="item-title label">
											<h1>处理备注：</h1></div>
										<div class="item-input">
              								 <textarea name="od_remark" style="font-size: 0.75rem"></textarea>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="content-block" style="margin-top:0.5rem;margin-bottom:0.5rem;">
					<p>
						<a href="#" id="finishship_sumbit" class="button button-fill" style="color: #fff; height:2rem;padding:.4rem;background-color:#006db2;">确定发货</a>
					</p>
					<input type="hidden" id="od_id"  value="<{$od_id}>" >
					<input type="hidden" id="od_state"  value="<{$od_state}>" >
				</div>
			</div>
		</div>
	</body>
	<include file="Com/sj" />
	<script type="text/javascript">
		$.init();
		$(function() {
			var expressArray = <{:json_encode($expresslist)}>||[]; //注意，这里不要用双引号或单引号；
			// console.log(JSON.stringify(expressArray));
			var nTypeArry=[];
			var idTypeArry=[];
			if($.isArray(expressArray)&&expressArray.length>0){
				// console.log(JSON.stringify(listArray));
				expressArray.forEach(function(val,index) {
					nTypeArry.push(val.exp_name);
					idTypeArry.push(val.exp_id);
				});
			}
			$('#od_express_name').picker({
				toolbarTemplate: '<header class="bar bar-nav">\<button class="button button-link pull-right close-picker">确定</button>\<h1 class="title">请选择物流快递</h1>\</header>',
				formatValue:function (p,values,displayValues) {
					$("#od_express").val(values[0]);
        			// return displayValues[0] +' '+values[0];
        			return displayValues[0];
    			},
				cols: [{
					textAlign: 'center',
					values: idTypeArry,
					displayValues:nTypeArry
				}]
			});

			//点击提交
    	$("#finishship_sumbit").click(function(){
			if($("#od_express").val() == "" || $("#od_express").val() == 0) { 
				$.toast("请选择物流快递");
				return false; 
			}
			
			if($("#od_express").val() != 1 && $("#od_express_name").val() !='无需物流') { 
				if($("#od_expressnum").val() == "") {
					$.toast("请输入物流单号"); 
					return false; 
				}
			}
			
			var od_express = $("#od_express").val();
			var od_expressnum = $("#od_expressnum").val();
			var od_remark = $("#od_remark").val();
			var od_id = $("#od_id").val();
			var od_state = $("#od_state").val();
            try {
				$.ajax({
					type: 'POST',
					url: '<{:U('./Kangli/Orders/odfinishship')}>',
					data: {action:'save', od_id:od_id,od_state:od_state, od_express:od_express, od_expressnum:od_expressnum, od_remark:od_remark },
					dataType: 'json',
					timeout: 30000,
					success: function (data) {

						var stat=0;
						stat=parseInt(data.stat);
						if (stat == 1) {
							 // alert(data.msg);
							 $.toast(data.msg);
							 // location.href = "<{:U('./Kangli/Orders/dlorderdetail?od_id='.$od_id.'&odbl_id='.$odbl_id.'&od_state='.$od_state.'')}>";
							 location.href = "<{:U('./Kangli/Orders/dlorders?od_id='.$od_id.'&odbl_id='.$odbl_id.'&od_state='.$od_state.'')}>";
							 return false; 
						}else{
							$.toast(data.msg);
							 // mpoptips(data.msg,"warn",2000);
							 return false; 
						}
					},
					error: function (xhr, type) {
						$.toast('超时或服务错误');
						// mpoptips("超时或服务错误","warn",2000);
						return false; 
					}
				});

			} catch (e) {
				$.toast(e);
				// mpoptips(e,"warn",2000);
				return false; 
			}
	
	});
		});
	</script>

</html>