<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>核对扫描记录</title>
<include file="Com/head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Kangli/css/font.css" />
<style>
.ui-form-item-r button {color: #FFFFFF;}
</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" data-href="<{:U('./Kangli/Orders/odshipscanlist?od_id='.$od_id.'&odbl_id='.$odbl_id.'&oddt_id='.$oddt_id.'')}>" ></i><h1>核对扫描记录</h1>
</header>
<section class="ui-container" >
<ul class="ui-list ui-list-text ui-border-tb">
    <li class="ui-border-t active">
        <div class="ui-list-info">
            <h4 class="ui-nowrap">发货订单号：<{$ordersinfo.oddt_orderid}></h4>
        </div>
    </li>
	<li class="ui-border-t">
	<div class="ui-list-info">
	<p>发货产品：<{$ordersinfo.oddt_proname}> (<{$ordersinfo.oddt_pronumber}>)</p>
	<p>订购数量：<{$ordersinfo.oddt_qty}><{$ordersinfo.oddt_prounits}><{$ordersinfo.oddt_totalqty}></p>
	<p>已发数量：<{$ordersinfo.oddt_shipqty}></p>
	<p>已扫产品数：<{$scanprocount}> </p>
	<p>已扫条码数：<{$scancount}> </p>
	</div>
	</li>
</ul>

<div class="ui-tips ui-tips-info">
    <i></i><span>请核对扫描记录和订单信息后确认出货</span>
</div>
<ul class="ui-list ui-list-text  ui-border-tb">

<foreach name='list' item='item'  key='key'>
    <li class="ui-border-t"  >
        <div class="ui-list-info">
            <h4 class="ui-nowrap"><{$jishu++ }>、<{$key}></h4>
        </div>
		<div class="ui-badge-muted"><{$item}></div>
    </li>
</foreach>

</ul>

	
<div class="ui-footer ui-footer-stable ui-btn-group ui-border-t">
    <button class="ui-btn-lg"  id="shipscanlist"   data-href="<{:U('./Kangli/Orders/odshipscanlist?od_id='.$od_id.'&odbl_id='.$odbl_id.'&oddt_id='.$oddt_id.'')}>" >
        已扫<{$scancount}>条记录
    </button>
    <button class="ui-btn-lg"  id="shiping"  data-href="<{:U('./Kangli/Orders/odshipping?step=1&od_id='.$od_id.'&odbl_id='.$odbl_id.'&oddt_id='.$oddt_id.'')}>"  >
        确认出货
    </button>
</div>

</section>


<script>
(function (){
		$('#shiping').click(function(){
			if($(this).data('href')){
				location.href= $(this).data('href');
			}
		});
		
		
		$('.ui-icon-return').click(function(){
			if($(this).data('href')){
				location.href= $(this).data('href');
			}
		});
		
		$('#shipscanlist').click(function(){
			if($(this).data('href')){
				location.href= $(this).data('href');
			}
		});
	
})();
</script>

</body>

</html>