<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>选择收货地址</title>
<include file="Com/head" />
<style>
.thumbhidden{display:none}
</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return"  data-href="<{:U('./Kangli/Orders/checkshopcart?dladd_id='.$dladd_id.'')}>"  ></i><h1>选择收货地址</h1>
</header>
<section class="ui-container" >
<ul class="ui-list ui-list-text  ui-border-tb">

<foreach name='addresslist' item='item'  key='key'>
    <li class="ui-border-t"   >
	
	<div class="ui-list-thumb-s <if condition="$item.dladd_id eq $dladd_id "> <else />thumbhidden</if> " >
            <span style="background-image:url(__PUBLIC__/Kangli/static/selected.png)"></span>
    </div>
	
	 <div class="ui-list-info"  data-href="<{:U('./Kangli/Orders/checkshopcart?dladd_id='.$item['dladd_id'].'')}>" >
        <h4 class="ui-nowrap"><{$item['dladd_contact']}> <{$item['dladd_tel']}> </h4>
		<p class="ui-nowrap "><{$item['dladd_address']}></p>
	 </div>
	 <div class="ui-btn-s ui-btn-primary" data-href="<{:U('./Kangli/Orders/updateaddress?addid='.$item['dladd_id'].'&f=1')}>" >编辑</div>
    </li>
</foreach>

	
</ul>

<div class="ui-form ui-border-t">

<div class="ui-btn-wrap">
    <button class="ui-btn-lg ui-btn-primary" id="addaddress"   data-href="<{:U('./Kangli/Orders/addaddress?f=1')}>"  >
        + 新增地址
    </button>
</div>

</div>
</section>
<script>

$('.ui-icon-return').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});

$('.ui-btn-s').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});

$('.ui-list li .ui-list-info').click(function(){
	if($(this).data('href')){
	    $('.ui-list li .ui-list-thumb-s').hide();
	    $(this).parent().find('.ui-list-thumb-s').show();
		location.href= $(this).data('href');
	}
});


$('#addaddress').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});



</script>
</body>
</html>