<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>礼品管理</title>
<include file="Com/head" />
<script type="text/javascript" >
        $(document).ready(function() {
            $(".gif_type").click(function(){
				if($(this).val()==1){
				    $("#shiwulipin").show();
					$("#xunilipin").hide();
				}else{
				    $("#shiwulipin").hide();
					$("#xunilipin").show();
				}
			 });
		 });
</script>
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Jfgift/index')}>">礼品管理</A>　&gt;　<A href="#"><{$atitle}></A></div>
<div class="nav_r"></div>
</div>
<div class="height20"></div>
<div class="content">
<form action="<{:U('Mp/Jfgift/edit_save')}>"   method="post" name="fmmm"  enctype="multipart/form-data" >
<input type="hidden" value="<{$jfgiftinfo.gif_id}>" name="gif_id" />
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
             <tr>     
                  <td height="40"   width="25%" class="txtright" ></td>
				  <td width="75%" class="txtleft" ></td>
			  </tr>
			  <tr>     
                  <td height="40"   class="txtright" >礼品名称：</td>
				  <td class="txtleft" ><input    type="text" size="50" maxlength="50"  name="gif_name"  class="input"  value="<{$jfgiftinfo.gif_name}>"   >  * </td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >图片：</td>
				  <td  class="txtleft" >
				  <neq name="jfgiftinfo.gif_pic_str" value=""><a href="__PUBLIC__/uploads/product/<{$jfgiftinfo.gif_pic}>" target="_blank" ><{$jfgiftinfo.gif_pic_str}></a></neq> <input name="pic_file" type="file" /> (建议图片大小:600X600) <input type="hidden"  value="<{$jfgiftinfo.gif_pic}>" name="old_gif_pic" />
				  </td>
			  </tr>
			   <tr>     
                  <td height="40"  class="txtright" >所需积分：</td>
				  <td  class="txtleft" ><input type="text" size="8" maxlength="8"  name="gif_jf" class="input" value="<{$jfgiftinfo.gif_jf}>" > *</td>
			  </tr>
			  <gt name="jfgiftinfo.gif_id" value="0">
			  <tr>     
                  <td height="40"  class="txtright" >礼品类型：</td>
				  <td  class="txtleft" ><eq name="jfgiftinfo.gif_type" value="1">实物礼品<else/>虚拟礼品<input type="hidden"  value="<{$jfgiftinfo.gif_type}>" name="gif_type" /></eq></td>
			  </tr>
			  <else/>
			   <tr>     
                  <td height="40"  class="txtright" >礼品类型：</td>
				  <td  class="txtleft" > <eq name="qypurview.50004" value="50004"><input name="gif_type" type="radio" value="1"  class="gif_type" <eq name="jfgiftinfo.gif_type" value="1">checked</eq>  />实物礼品</eq>　　　<eq name="qypurview.50005" value="50005"><input name="gif_type" type="radio" value="2" class="gif_type" <eq name="jfgiftinfo.gif_type" value="2">checked</eq> />虚拟礼品</eq> </td>
			  </tr>
			  </gt>
			  
			   <tr id="shiwulipin" <eq name="jfgiftinfo.gif_type" value="2">style="display:none"</eq> >     
                  <td height="40"  class="txtright" >提供未兑数量：</td>
				  <td  class="txtleft" ><input type="text" size="8" maxlength="8"  name="gif_qty" class="input" value="<{$jfgiftinfo.gif_qty}>" > *</td>
			  </tr>
			  
			   <tr  id="xunilipin" <eq name="jfgiftinfo.gif_type" value="1" >style="display:none"</eq> >     
                  <td height="40"  class="txtright" >提供数量：</td>
				  <td  class="txtleft" >虚拟礼品提供数量以导入的数据包为准</td>
			  </tr>
             
			   <tr>     
                  <td height="40"  class="txtright" >礼品描述：</td>
				  <td  class="txtleft" ><textarea cols="50" rows="8" name="gif_des"  ><{$jfgiftinfo.gif_des}></textarea><br /><br /></td>
			  </tr>
			   

			  <tr>  <td height="60" ></td>
                    <td  class="txtleft"  >
             <input type="submit" name="Submit" value="<{$atitle}>" class="botton" >　　　　<input name="" type="reset" value="返 回"  onClick="javascript:window.history.go(-1);" class="botton" >
            </td>
			  </tr>
			</table>
</form>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>