<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>礼品管理</title>
<include file="Com/head" />
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="<{:U('Mp/Jfgift/index')}>">礼品管理</A>　&gt;　<A href="#">导入数据</A></div>
<div class="nav_r"></div>
</div>
<div class="height20"></div>
<div class="content">
<table class="table_results" >
<thead><tr>
<th  style="text-align:left" ><span>导入记录：</span></th>
</tr></thead>
<tbody>
<volist name='msgslist' id='vo' key='key' >
<tr class="odd" >
<td class="data" style="text-align:left" ><span><{$key}>、<{$vo.error}></span></td>
</tr>
</volist>
</tbody>
</table>
<div style="height:40px; line-height:40px; text-align:center; padding-top:10px"><input name="" type="reset" value="查看数据"  onClick="javascript:window.location.href='<{:U('Mp/Jfgift/xunilist?gif_id='.$gif_id.'')}>';" class="botton" > 　　<input name="" type="reset" value="返 回"  onClick="javascript:window.history.go(-1);" class="botton" ></div>
<div class="height10"></div>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>