<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>代理申请详细</title>
<include file="Com/head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Kangli/css/font.css" />
<style>

</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" data-href="<{:U('./Kangli/Dealer/applylist')}>" ></i><h1>代理申请详细</h1>
</header>
<section class="ui-container" >
<div class="ui-whitespace">
　
</div>
<ul class="ui-list ui-list-text  ui-border-tb">
    <li class="ui-border-t">
        <h4 class="ui-nowrap">姓名：<{$dlinfo.dl_name}></h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">微信号：<{$dlinfo.dl_weixin}></h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">手机号：<{$dlinfo.dl_tel}></h4>
    </li>
    <li class="ui-border-t">
        <h4 class="ui-nowrap">地区：<{$dlinfo.dl_qustr}></h4>
    </li>
	<li class="ui-border-t">
        <h4 class="ui-nowrap">地址：<{$dlinfo.dl_address}></h4>
    </li>
	 <li class="ui-border-t">
        <h4 class="ui-nowrap">身份证：<{$dlinfo.dl_idcard}></h4>
    </li>
	<neq name="dlinfo.dl_idcardpic_str" value="">
	<li class="ui-border-t">
        <h4 class="ui-nowrap">身份证图片：<br><{$dlinfo.dl_idcardpic_str}></h4>
    </li>
	</neq>
	<neq name="dlinfo.dl_idcardpic2_str" value="">
	<li class="ui-border-t">
        <h4 class="ui-nowrap">身份证图片：<br><{$dlinfo.dl_idcardpic2_str}></h4>
    </li>
	</neq>
    <neq name="dlinfo.dlt_name" value="">
	<li class="ui-border-t">
        <h4 class="ui-nowrap">代理级别：<{$dlinfo.dlt_name}></h4>
    </li>
	</neq>
	<neq name="dlinfo.dlstt_name" value="">
	<li class="ui-border-t">
        <h4 class="ui-nowrap">门店级别：<{$dlinfo.dlstt_name}></h4>
    </li>
	</neq>
	<li class="ui-border-t">
        <h4 class="ui-nowrap">申请时间：<{$dlinfo.dl_addtime|date='Y-m-d H:i:s',###}></h4>
    </li>
	<li class="ui-border-t">
        <h4 class="ui-nowrap">推荐人：<{$dlinfo.dl_referee_str}></h4>
    </li>
	<li class="ui-border-t">
        <h4 class="ui-nowrap">上家代理：<{$dlinfo.dl_belong_str}></h4>
    </li>

</ul>

     
</section>


<script>
(function (){

	$('.ui-icon-return').click(function(){
		if($(this).data('href')){
			location.href= $(this).data('href');
		}
	});	

})();
</script>
</body>

</html>