<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>下级代理查看</title>
<include file="Com/head" />

<style>

</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" data-href="<{:U('./Kangli/Dealer/index')}>" ></i><h1>下级代理查看</h1>
</header>
<section class="ui-container" >


<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
<foreach name="dltypelist" item='item2'  key='key2'>
    <li class="ui-border-t" data-href="<{:U('./Kangli/Dealer/dealerlist?dltid='.$item2['dlt_id'].'')}>" >
        <div class="ui-list-info">
            <h4 class="ui-nowrap"><{$item2.dlt_name}></h4>

        </div>
		<if condition="$item2.count gt 0 ">
		<div class="ui-badge-num"><{$item2.count}></div>
		</if>
    </li>
</foreach>
</ul>


</section>
<script>
$('.ui-list li').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});
$('.ui-icon-return').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});
</script>
</body>
</html>