<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<title>我的业绩</title>
<include file="Com/head" />
<style>

</style>
</head>
<body ontouchstart >
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return"  data-href="<{:U('./Kangli/Dealer/index')}>"  ></i><h1>我的业绩</h1>
</header>
<section class="ui-container" >

<ul class="ui-list ui-list-link  ui-border-tb">

    <li class="ui-border-t"  >
	 <div class="ui-list-info timeList">
        <h4 class="ui-nowrap">2017年2月</h4>
		<p class="ui-nowrap ">个人本月业绩：</p>
		<p class="ui-nowrap ">团队本月业绩：</p>
		<p class="ui-nowrap ">下家本月业绩：</p>
	 </div>
    </li>
   <li class="ui-border-t"  >
	 <div class="ui-list-info timeList">
        <h4 class="ui-nowrap">2017年1月</h4>
		<p class="ui-nowrap ">个人本月业绩：</p>
		<p class="ui-nowrap ">团队本月业绩：</p>
		<p class="ui-nowrap ">下家本月业绩：</p>
	 </div>
    </li>
</ul>
</section>
<script>

$('.ui-icon-return').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});

$('.ui-list li').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});


$('#addaddress').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});

$('.ui-btn-s').click(function(){
	if($(this).data('href')){
		location.href= $(this).data('href');
	}
});

</script>
</body>
</html>