<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>入库管理</title>
<include file="Com/head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/mp/js/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/mp/js/themes/icon.css">
<script type="text/javascript" src="__PUBLIC__/mp/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/mp/js/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" >
$(document).ready(function() {
   $("#begintime").datebox("setValue", "<{$begintime}>"); 
   $("#endtime").datebox("setValue", "<{$endtime}>"); 
  });
</script>
</head>
<body>
<include file="Com/header" />
<div class="main" >
<div class="bound" >
<div class="leftmenu">
<include file="Com/leftmenu" />
</div>
<div class="rightcontent">
<div class="content_nav" >
<div class="nav_l"><a href="<{:U('Mp/Index/index')}>">首页</a>　&gt;　<A href="#">入库记录</A></div>
<div class="nav_r"><eq name="qypurview.13001" value="13001"><a href="<{:U('Mp/Storage/add')}>">入库扫描</a></eq><eq name="qypurview.13001" value="13001">　<a href="<{:U('Mp/Storage/import')}>">入库导入</a></eq></div>
</div>
<div class="height10"></div>
<div>
<div style="float:left; width:30%">
<form action="<{:U('Mp/Storage/index')}>"   method="post" name="fmmm"  >
<input    type="text" size="25" maxlength="25"  name="keyword"  class="input"   onfocus="this.value=''"   value="<eq name="keyword" value="">输入条码、入库单号<else/><{$keyword}></eq>"   style="color:#999999"  >   <input type="submit" name="Submit" value="搜 索"  ></form>
</div>
<div style="float:right; width:69%; text-align:right">
<form action="<{:U('Mp/Storage/index')}>"   method="post" name="fmmm"  >
日期：<input    type="text" size="15" maxlength="15"  name="begintime"  class="easyui-datebox"  value=""   id="begintime"    >　到　<input    type="text" size="15" maxlength="15"  name="endtime"  class="easyui-datebox"  value=""   id="endtime"    >　
<select name="proid"   class="select"  style="width:150px"   >
					<option value="0">按产品过滤</option>
					<volist name='productlist' id='vo' key='key' >
					<option value="<{$vo.pro_id}>" <if condition="$vo.pro_id eq $pro_id" >selected</if>  ><{$vo.pro_name}></option>
					</volist>
				  </select>　
<select name="czid"   class="select" style="width:120px"  >
					<option value="0" >按操作员过滤</option>
					<volist name='czuserlist' id='vo' key='key' >
					<option value="<{$vo.stor_czid}>"  <if condition="$vo.stor_czid eq $stor_czid" >selected</if> ><{$vo.stor_czuser}></option>
					</volist>
				  </select>　<input type="submit" name="Submit" value="查 询"  >
</form>
</div>
</div>
<div class="height10"></div>
<div class="content">
<table class="table_results" >
<thead><tr>
<th  width="10%" ><span>条码</span></th>
<th  width="10%" ><span>入库单号</span></th>
<th  width="6%"  ><span>产品编号</span></th>
<th  width="14%"  ><span>产品名称</span></th>
<!-- <th  width="8%"  ><span>颜色尺码</span></th> -->
<th  width="8%"  ><span>入库人员</span></th>
<th  width="8%"  ><span>入库日期</span></th>
<th  width="6%"  ><span>入库仓库</span></th>
<th  width="8%"  ><span>入库数量(小标)</span></th>
<th  width="6%"  ><span>操作</span></th>
<th  width="2%"  ><span>备</span></th>
</tr></thead>
<tbody>
<volist name='list' id='vo' key='key' >
<tr class="<{$key%2 == 0?'odd':'even'}>" >
<td class="data" ><span><{$vo.stor_barcode}></span></td>
<td class="data" ><span><{$vo.stor_number}></span></td>
<td class="data" ><span><{$vo.pro_number}></span></td>
<td class="data" ><span><{$vo.pro_name}></span></td>
<!-- <td class="data" ><span><{$vo.stor_color}>--<{$vo.stor_size}></span></td> -->
<td class="data" ><span><{$vo.stor_czuser}></span></td>
<td class="data" ><span><{$vo.stor_date|date='Y-m-d',###}></span></td>
<td class="data" ><span><{$vo.warehouse}></span></td>
<td class="data" ><span><{$vo.stor_proqty}></span></td>
<td class="data"><span><if condition="$qypurview.30008 eq '30008' "><a  href="#" onClick="javascript:var truthBeTold = window.confirm('该操作将彻底删除该记录,请谨慎操作!'); if (truthBeTold) window.location.href='<{:U('Mp/Storage/delete?stor_id='.$vo['stor_id'].'')}>';" >删除</a></if></span></td>
<td class="data"><neq name="vo.stor_remark" value=""><span  title="<{$vo.stor_remark}>"  style="cursor:pointer" >...</span></neq></td>
</tr>
</volist>
</tbody>
</table>
<div class="height10"></div>
<table class="page" cellpadding="0" cellspacing="0"><tbody>
<tr>
<td><{$page}></td>
</tr></tbody></table>
</div>
<div class="height20"></div>
</div>
</div>
</div>
<include file="Com/foot" />
</body>
</html>